.banner-sec .banner-hover
{
   overflow: hidden;
}
.banner-sec .banner-hover:hover img
{
transition: 2s ease;
}
.banner-sec .banner-hover:hover img
{
    transform: scale(1.3);
}
.news .row
{
    margin-top: -77px;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.095);
}
